In [97]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
optimizer = keras.optimizers.Adam(learning_rate=0.1)

## Load all datas

In [98]:
movies = pd.read_csv('Movies/movies.dat', header=None, sep='::', engine='python', names=['Movie_id','Title','Genre'])
ratings = pd.read_csv('Movies/ratings.dat', header=None, sep='::', engine='python', names=['User_id','Movie_id','Rating','Timestamp'])
users = pd.read_csv('Movies/users.dat', header=None, sep='::', engine='python', names=['User_id','Gender','age','occupation','zip'])

In [99]:
movies

      Movie_id  ...                         Genre
0            1  ...   Animation|Children's|Comedy
1            2  ...  Adventure|Children's|Fantasy
2            3  ...                Comedy|Romance
3            4  ...                  Comedy|Drama
4            5  ...                        Comedy
...        ...  ...                           ...
3878      3948  ...                        Comedy
3879      3949  ...                         Drama
3880      3950  ...                         Drama
3881      3951  ...                         Drama
3882      3952  ...                Drama|Thriller

[3883 rows x 3 columns]

In [100]:
ratings

         User_id  Movie_id  Rating  Timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
...          ...       ...     ...        ...
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

In [101]:
users

      User_id Gender  age  occupation    zip
0           1      F    1          10  48067
1           2      M   56          16  70072
2           3      M   25          15  55117
3           4      M   45           7  02460
4           5      M   25          20  55455
...       ...    ...  ...         ...    ...
6035     6036      F   25          15  32603
6036     6037      F   45           1  76006
6037     6038      F   56           1  14706
6038     6039      F   45           0  01060
6039     6040      M   25           6  11106

[6040 rows x 5 columns]

In [102]:
df = pd.merge(movies, ratings, left_on='Movie_id', right_on='Movie_id', how='left').drop('Timestamp', axis=1)

In [103]:
df.shape

(1000386, 5)

In [104]:
df.head()

   Movie_id             Title                        Genre  User_id  Rating
0         1  Toy Story (1995)  Animation|Children's|Comedy      1.0     5.0
1         1  Toy Story (1995)  Animation|Children's|Comedy      6.0     4.0
2         1  Toy Story (1995)  Animation|Children's|Comedy      8.0     4.0
3         1  Toy Story (1995)  Animation|Children's|Comedy      9.0     5.0
4         1  Toy Story (1995)  Animation|Children's|Comedy     10.0     5.0

In [105]:
combine = df.pivot(index=['Movie_id', 'Title', 'Genre'],columns='User_id', values='Rating').fillna(0)

In [106]:
combine.shape

(3883, 6041)

In [107]:
movie_list = movies['Title']
Y = combine.values
R = (Y!=0).astype(int)

In [109]:
X
W
b

NameError: name 'X' is not defined

## Build the cofi_cost_func

In [110]:
def cofi_cost_func(X, W, b, Y, R, lambda_):
    J = np.square((tf.matmul(X, tf.transpose(W)) + b) * R).sum()
    J += lambda_ / 2 * (np.sum(np.square(W)) + np.sum(np.square(X)))
    return J

## Create a mock rating

In [111]:
nm, nu = Y.shape
my_rating = np.zeros(nm)

In [112]:
random_list = np.random.permutation(movies[movies['Genre'].str.contains('Romance')]['Movie_id'])

In [113]:
my_rating[random_list[:10]] = 5
my_rating[random_list[10:15]] = 4.5

In [114]:
random_list2 = np.random.permutation(movies[movies['Genre'].str.contains('Thriller')]['Movie_id'])

In [115]:
my_rating[random_list[:10]] = 3
my_rating[random_list[10:15]] = 2.5

In [ ]:
# Get my rated movie index
my_rated = []
for idx, value in enumerate(my_rating):
    if value != 0:
        my_rated.append(idx)

In [122]:
my_rated

[64,
 469,
 497,
 889,
 1458,
 1574,
 1632,
 1714,
 2171,
 2502,
 2708,
 2875,
 2884,
 3353,
 3524]

## Using the tensorflow to train the model

In [ ]:
nf = 100
W = tf.random.normal((nu, nf))
b = tf.random.normal((1, nu))
X = tf.random.normal((nm, nf))

In [118]:
iteration = 200

for iter in range(iteration):

<tf.Tensor: shape=(6041, 100), dtype=float32, numpy=
array([[ 0.10109579, -0.6126142 , -2.125784  , ..., -1.7140387 ,
        -1.1427767 , -0.35055697],
       [-0.99670196, -0.38752675, -0.4755678 , ..., -0.13488081,
        -0.19638738, -1.4920449 ],
       [ 1.2842926 ,  1.9844077 ,  0.17122325, ..., -0.9393068 ,
         1.2872378 , -0.32357794],
       ...,
       [-1.3378373 , -0.45646834, -0.6677029 , ..., -0.44540814,
         0.2985266 , -0.5327922 ],
       [-0.8651921 , -1.2670274 , -1.0726849 , ..., -1.1931221 ,
        -0.31010932,  0.04976837],
       [ 1.05677   ,  0.91028744,  0.896996  , ..., -1.5035255 ,
        -1.8909639 , -0.2830473 ]], dtype=float32)>